/www/js_development/broadcast/config.php


/nbproject/
/nbproject

/build/
/build

/app/runtime/
/app/runtime

/www/js/model
/www/js/model/

/.idea
/.idea/

/app/config/console
/app/config/web
/app/config/jenkins
/app/config/phpunit

/app/config/config_phpunit.php
/app/config/config_web.php
/app/config/config_console.php

/app/config/routes.php
/app/config/url_create.php

/www/js/cov
/app/runtime

/app/config/autoConfig.ini

.project
.settings

/sftp-config.json
/.remote-sync.json
.vscode/

.sass-cache
.sass-cache/
/www/css/chess24.css
/www/css/base_blue.css
/www/css/embed
*.css.map


/app/config/rabbitmq_app_event.php

/node_modules

www/js_development/broadcast/config.php
/www/js_development/broadcast/config.php


/*.sublime-project
/*.sublime-workspace

/www/js
/bin/js-compressor/node_modules
/www/js_development/jsUnit/coverage

.DS_Store
/app/config/config_phpunitDBmigration.php
/app/config/phpunitDBmigration/
.buildpath
vendor/
app/runtime/application.log*
tests/unit/temp/*
scss/chess24.css
/www/js/insufficentBrowser.js
/deploy.cf
/excludes.cf

/bin/behat
/bin/yiic
